body
{
    background-color: #9e9489;
}

#wrapper
{
    width: 960px;
    margin: 0 auto;
}

#content
{
    width: 760px;
    float: left;
    background-color: #FFFFFF
}

.testBackground { background-color: #004400; }
.stdHeight { height: 460px; }
.categoryHeight { height: 220px; }
.clear { clear:both; }
.centerElement { margin: auto; }
.centerText { text-align: center; }
.justifyText { text-align: justify; }
.redText { color: red; }
.indent1 { padding-left: 50px; }
.indent2 { padding-left: 100px; }
.boldText { font-weight: bold; }

.mainCategory
{
    border: 2px #ffb6c1 solid;
    border-radius: 10px;
    border-top: thick red solid;
    border-radius: 10px;
    border-bottom: thick red solid;
    padding: 5px;
    margin: auto;
}

.fit
{
    width: 100%;
    height: 100%;	
}

.sliderContainer
{
    width: 480px;
    height: 360px;
    margin: auto;
}

.verticalSpace
{
    height: 450px;
}

.datatable
{
    width: 766px;
    margin: auto;
}

.datatable table tbody tr img
{
    width: 100px;
    height: 100px;
}

.datatable th
{
    color: #00f;
    cursor: pointer;
    text-decoration: underline;
}


.row1
{
    background-color: #00ccff;
}

.row2
{
    background-color: #0099ff;
}

.formGroup
{
    width: 371px;
    margin: auto;
}

.formSection
{
    padding-bottom: 10px;
}

.formSection label
{
    font-weight: bold;
    width: 145px;
    display: inline-block;
}

.formInput
{
    width: 150px;
    display: inline-block;
}

#price
{
    width: 141px;
}

.divider
{
    width: 100%;
    border-top: gold 1px solid;
    height: 2px;
}

#imageName
{
    width: 100%;
}

#summary
{
    width:100%;
}

.banner
{
    display: inline-block;
    font-size: 300%;
    width: 870px;
}

#username
{
    text-align: right;
    display: inline;
    font-size: 150%;
    width: 90px;
}